<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>计算结果</title>
        <link rel="shortcut icon" href="../static/img/icon.JPG"/>
		<link rel="stylesheet" href="../static/css/index.css" />
	</head>
	<body>
		<div class="login">
			<h2>您本学年的加权平均分为</h2>
            <h2>{{ avg }}</h2>
            <div class="login_box">
                <a href={{url_for('index')}} class=sub>返回首页</a>
            </div>

		</div>
	</body>
</html>
